body {background-image: linear-gradient(to right, #4a0f5e, #02658a);}
p {color: aliceblue;}
h1 { color:#1ca6c1;}

.container1 {padding-top: 3%; padding-bottom: 3%;}
.ct1Sec1{
    border-color: #1ca6c1;
    border-top-style: double;
    border-bottom-style: double;
    text-align: -webkit-center;
    font-weight: bold;
    font-size: larger;
}
.container1 a:link {color:aliceblue;} 
.container1 a:visited {color: aliceblue;}
.container1 a:hover {color: #1ca6c1;}
.container1 a:active {color: #52106f;}
.ct1Sec1 ul {padding-left: 0rem; margin-bottom: 0rem;}
.ct1Sec1 li {color: aliceblue; display: inline; list-style: none; padding: 3%;}

.container2
{
    border-style: solid;
    /*height: 480px;*/
    padding-bottom: 20px;
    background: url("./profileBG.jpg")50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}
.profilePic {width: 100%; border-style: double; border-color: aliceblue; border-width: 10px; border-radius: 5px;}
.ct2Sec1 {padding-top: 5%; text-align-last: right;}
.ct2Sec2 {padding-top: 5%; color: aliceblue;}
.ct2Sec2 {align-content: center; text-align: -webkit-center;}

.container3 {padding-top: 2%;}
.ct3Sec1 h1 {text-align: -webkit-center;}
.ct3Sec1 p {text-align: justify;}
.container3 h1 {color:#1ca6c1;}
.container3 h4 {color:#1ca6c1;}

.container4 {border-top-style: double; padding-bottom: 3%;}
.ct4Sec1 {text-align: -webkit-center;}
.ct4Sec2 {text-align-last: center;}
.container4 img {width: 300px; border: solid 5px #555; margin: 20px 0; box-shadow: 3px 3px 5px 6px #9d9a9a;}

.container5 > .row {padding-left: 5px; border-top-style: double; border-bottom-style: double; border-color:black; background-color: #1ca6c1; color: aliceblue;}
.container5 h6 {margin-bottom: 0px; font-size: 12px;}

.middle ul {list-style: none; padding-inline-start: 0; text-align-last: center; margin-bottom: 5px; margin-top: 5px;}
.middle li {display: inline;}
.middle li img {width: 32px;height: 32px;}
a {text-decoration: none;}
.left {align-content: center; padding-left:  5%;}
.right {text-align: -webkit-right; align-content: center; margin-left: 0px; padding-left: 0%; padding-right: 5%;}

.container4 img.jump {margin-top: -5px;}

a:hover
{
    box-shadow: 10px 0px 100px 50px rgb(255, 255, 255);
}

@media (max-width: 576px)
{.container2
    {
    background: url("https://cdn.sanity.io/images/tlr8oxjg/production/d2f16531bde974464ad7ab74dc335790dbdebffa-1192x668.png?w=3840&q=80&fit=clip&auto=format")50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    }
}
@media (min-width: 992px) {.container2 {height: 450px;}}
@media (min-width: 1400px) {.container2 {height: 500px;}}
@media (min-width: 576px) {.ct1Sec1 {font-size: x-large;}}
@media (min-width: 576px) {.profilePic {width: 280px;}}
@media (min-width: 992px) {.profilePic {width: 300px;}}
@media (min-width: 576px) {.container5 h6 {font-size: smaller;}}
@media (min-width: 768px) {.container5 h6 {font-size: medium;}}
@media (min-width: 768px) {.ct2Sec2 {text-align: -webkit-left;}}